{% extends "base.html" %}

{% block title %}Posts Summary{% endblock %}

{% block content %}

<h3 class="mb-4">Posts Summary</h3>

<div class="card shadow-sm">
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-striped align-middle">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Post Link</th>
            <th>Toatal Likes</th>
            <th>Total Comments</th>
            <th class="text-center">Toatal Shares</th>
          </tr>
        </thead>

        <tbody>
          {% for post in posts %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ post.post_url }}
            
  
            <!-- Platform + URL row -->
            <div class="d-flex align-items-center gap-2">

            <!--  text field -->
            <input
            type="text"
            class="form-control form-control-sm platform-link-input"
            style="width: 260px;"
            placeholder="Post URL"
            readonly
          />

            <!-- Platform dropdown -->
           <select
           class="form-select form-select-sm platform-select"
           style="width:120px;"
           data-post-url="{{ post.post_url }}"
           >
           <option value="">Select</option>
           <option value="instagram">Instagram</option>
           <option value="linkedin">LinkedIn</option>
           <option value="facebook">Facebook</option>
           </select>

           </div>
         </td>

            <td>{{ post.total_likes }}</td>
            <td>{{ post.total_comments }}</td>
            <td>{{ post.total_shares }}</td>
            
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="text-center text-muted">
              No users found.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

<script>
  document.addEventListener("change", function (e) {
    if (e.target.classList.contains("platform-select")) {
      const container = e.target.closest("div");
      const input = container.querySelector(".platform-link-input");
      const postUrl = e.target.dataset.postUrl;

      input.value = postUrl || "";
    }
  });
</script>
{% endblock %}
