{% extends "base.html" %}

{% block title %}Posts Summary{% endblock %}

{% block content %}

<h3 class="mb-4">Posts Summary</h3>

<div class="card shadow-sm">
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-striped align-middle">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Post Link</th>
            <th>Toatal Likes</th>
            <th>Total Comments</th>
            <th class="text-center">Toatal Shares</th>
          </tr>
        </thead>

        <tbody>
          {% for post in posts %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ post.post_url }}
            
  
            <!-- Platform + URL row -->
            <div class="d-flex align-items-center gap-2">

            <!--  text field -->
           <a
            href="#"
            target="_blank"
            class="form-control form-control-sm platform-link-input text-truncate"
            style="width: 260px; text-decoration: none;"
          >
           Select platform
          </a>

           <!-- Platform dropdown -->
           <select
           class="form-select form-select-sm platform-select"
           style="width:120px;"
           
           data-instagram="{{ post.Ipost_url }}"
           data-facebook="{{ post.Fposturl }}"
           data-linkedin="{{ post.Lposturl }}"
           >
           
           <option value="">Select</option>
           <option value="instagram">Instagram</option>
           <option value="linkedin">LinkedIn</option>
           <option value="facebook">Facebook</option>
           </select>

           </div>
         </td>

            <td>{{ post.total_likes }}</td>
            <td>{{ post.total_comments }}</td>
            <td>{{ post.total_shares }}</td>
            
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="text-center text-muted">
              No users found.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</div>

<script>
document.addEventListener("change", function (e) {
  if (e.target.classList.contains("platform-select")) {

    const select = e.target;
    const container = select.closest("td");
    const link = container.querySelector(".platform-link-input");

    let url = "";

    if (select.value === "instagram") {
      url = select.dataset.instagram;
    } 
    else if (select.value === "facebook") {
      url = select.dataset.facebook;
    } 
    else if (select.value === "linkedin") {
      url = select.dataset.linkedin;
    }

    if (url) {
      link.href = url;
      link.textContent = url;
    } else {
      link.href = "#";
      link.textContent = "No link available";
    }
  }
});
</script>
{% endblock %}
