{% extends "base.html" %}

{% block title %}SuperAdmin Dashboard{% endblock %}

{% block content %}

<h3 class="mb-4">SuperAdmin Dashboard</h3>

<div class="row mb-4">
  <div class="col-md-4">
    <div class="card shadow-sm p-3">
      <h6>Total Posts</h6>
      <h3>{{ posts_count }}</h3>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm p-3">
      <h6>Affiliate Users</h6>
      <h3>{{ users }}</h3>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm p-3">
      <h6>Platforms Connected</h6>
      <h3>4</h3>
    </div>
  </div>
</div>

<h4 class="mb-3">Recent Posts</h4>

<form class="mb-4" action="{% url 'create_post' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-success">
    <i class="bi bi-plus-circle"></i> Create New Post
  </button>
</form>

<div class="row">
  {% for post in posts %}
    <div class="col-md-4">
      <div class="card post-card shadow-sm mb-4">
        <img src="{{ post.image.url }}" class="card-img-top" alt="Post Image">
        <div class="card-body">
          <p class="card-text">{{ post.caption }}</p>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No posts available.</p>
  {% endfor %}
</div>


{% endblock %}
